.App {
	max-width: 1360px;
	margin:0 auto;
	margin-top: 50px;
	button{
		cursor: pointer;
	}
	.first{
		text-align: center;
		button{
			border-radius: 40px;
			background: #3e64ff;
			border-color: #3e64ff;
			color: #fff;
			padding: 11px 16px;
			border-width: 1px;
			text-transform: uppercase;
			font-size: 14px;
			font-weight: 500;
			&:hover{
				background-color: #dbdbdb;
				color: black;
			}
		}
		margin-bottom: 10px;
	}
	.translator{
		display: flex;
		border-top: 1px solid rgba(0,0,0,0.12);
    box-shadow: 0 2px 2px rgb(0 0 0 / 22%);
		border-radius: 10px;
		.field{
			width: 50%;
			border-left: 1px solid rgba(0,0,0,0.12);
			.fieldHeader{
				justify-content: center;
				height: 48px;
				border-bottom: 1px solid #c0c0c0;
				.language{
					border: none;
					border-bottom: #3c4043;
					width: 25%;
					height: 100%;
					background-color: white;
					text-transform: uppercase;
					font-family: "Roboto",arial,sans-serif;
					font-size: 14px;
					font-weight: 500;
					color: #646464;
					&:hover{
						background-color: #dbdbdb;
						color: black;
					}
				}
				.selected{
					color: #1a73e8;
					border-bottom: 1px solid #1a73e8;;
					&:hover{
						color: #1a73e8;
						background-color: #edecff;
					}
				}
			}
			.fieldInput{
				padding: 20px 58px 20px 24px;
				textarea{
					background: transparent;
					border: none;
					outline: none;
					-webkit-box-shadow: none;
					-moz-box-shadow: none;
					box-shadow: none;
					color: #3c4043;
					flex: 1;
					font-family: inherit;
					overflow: auto hidden;
					padding: 0;
					resize: none;
					white-space: pre-wrap;
					min-height: 350px;
					width: 100%;
					z-index: 1;
					font-size: 24px;
					line-height: 32px;
				}
			}
			.translation{
				background-color: rgba(146, 146, 146, 0.12);
			}
		}
	}
}
@media only screen and(max-width : 575px) {
	.translator{
		display: block !important;
		.field{
			width: 100% !important;
			.fieldInput{
				padding: 20px 20px 20px 24px !important;
				textarea{
					min-height: 60px !important;
				}
				.answer{
					min-height: 350px !important;
				}
			}
		}
	}
}